.todoForm{
    width: 60%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    margin-top: 20px;
  
   
} 


.todoInput{
     width: 70%;
     height:100%;
     padding: 10px 15px;
     box-sizing: border-box;
     border: 2px solid rgb(214, 74, 214);
     outline: none;
     border-top-left-radius: 8px;
     border-bottom-left-radius:8px ;
     color: black;

   
}

.formBtn{
    width: 30%;
    height:100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px ;
    background: rgb(214, 74, 214);
    outline: none;
    border: 2px solid rgb(214, 74, 214);
}

.formBtn:hover{
    background-color: rgb(236, 75, 236);
}



@media (max-width:768px) {

    .todoForm{
        /* flex-direction: column; */
        width: 80%;
        height: 6vh;
    } 

    .formBtn{
        width: 40%;
    }


    .todoInput{
        width: 60%;
        display: block;
        text-align:center;
      
   }
  }