.todo{
    width: 60%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: white;
    background-color: rgb(214, 74, 214);
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
   
} 



@media (max-width:768px) {
    .todo{
        width: 80%;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        color: white;
        background-color: rgb(214, 74, 214);
        margin-top: 20px;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align:center;
       
    }


    .todo:first-child{
        margin-top: 500px;
    }
  
}